</main>
    <footer class="footer-main">
        <div class="footer-container1">
            <div class="block1">
                <div><a  href=""></a><img src="/svg/blog.svg" height="40" alt="footer blog svg"></div>
                <div><a href="" class="footer-touch">GET IN TOUCH></a></div>
            </div>
            <div class="footer-head1">
            <h2>
                Intrest in the Blogging World.
            </h2>
            <h2>
                Sign Up and <span style="font-weight: bold; color: rgb(148, 130, 153);">Drop us a line</span>
            </h2>
            </div>
        </div>

        <div class="footer-container2">
            <div>
                <h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">ME</h2>
                <div><p>Welcome to Gastronomic Journeys, a delectable odyssey<br> through the world of travel and cuisine. Join me as I<br> embark on epicurean adventures.  </p> </div>
            </div>
            <div>
                <h2>Join My Mailing List</h2>
                <form action="/subscribe" method="post">
                    <label for="email">Email * </label><br>
                    <input type="email" id="email" name="email" required><br><br>
                    <input type="submit" style=" background-color:rgb(126, 140, 139); font-size: 15px; padding: 5px; border-style: none; border-radius: 5px;" value="Subscribe">
                </form>
            </div>
        </div>

        <div class="footer-container3">
            <div><p>© 2024 by Going Places. Powered and secured by THE BLOG</p></div>
            <div>
                <ul style="list-style: none;" class="footer-svg">
            
                    <li class="nav-item">
                      <a class="nav-link" href="http://www.facebook.com" target="_blank"><img src="/svg/facebook.svg" height="20"  alt="facebook-svg"></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://www.twitter.com" target="_blank"><img src="/svg/twitter.svg" height="20" alt="twitter-svg"></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://www.linkedin.com" target="_blank"><img src="/svg/linkedin.svg" height="20" alt="linkedin-svg"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://www.github.com" target="_blank"><img src="/svg/github.svg" height="20" alt="github-svg"></a>
                      </li>
            
                  </ul>
            </div>
        </div>

    </footer>
   
</body>
</html>